@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*COLORS*/
}
html {
  background: var(--white-color);

  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

.text-div::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
}

.text-div::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  cursor: pointer;
  border-radius: 5px;
}
