@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*COLORS*/
  --black-color: #00161d;
  --white-color: #fafcfd;
  --dark-gray-color: #353535;
  --light-gray-color: #9f9d9d;
  --gray-color: #6c6c6c;
  --light-main-color: #e4f0f4;
  --main-color: #61dafb;
  --detail-color: #06d6a0;
  --accent-color: #ef476f;
}
html {
  background: var(--white-color);

  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

.text-div::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
}

.text-div::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  cursor: pointer;
  border-radius: 5px;
}
